<body class="bg-gray-100 h-screen flex justify-center items-center p-6">
  <div class="bg-white shadow-md rounded-lg p-6 w-full max-w-md">
    <h2 class="text-2xl font-semibold text-center mb-4">Resend confirmation instructions</h2>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, class: "space-y-4") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email,class: " text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "mt-1  w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
      <div class="actions  mt-4">
        <%= f.submit "Resend confirmation instructions", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md" %>
      </div>
    <% end %>
    <div class="mt-4 text-center flex flex-col gap-2">
      <%= render "devise/shared/links",class:"focus:underline" %>
    </div>
  </body>