<body class="bg-gray-100">
  <div class="h-screen flex flex-col items-center justify-center">
    <div class="items-center min-w-0 md:min-w-[28rem] min-h-[640px]">
      <h2 class="flex font-semibold justify-center p-4 text-3xl">Create User</h2>
<%= render "devise/shared/error_messages", resource: @user %>

      <%= form_with model: @user, url: admin_users_path, local: true, html: { class: 'rounded-lg flex flex-col justify-start gap-2 m-4 p-8 shadow-md border-1 border-gray-300 min-h-[450px] bg-white' } do |f| %>

        <div class="flex flex-col gap-2 m-2">
          <%= f.label :email, class: 'text-xl font-medium' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>

        <div class="flex flex-col gap-2 m-2">
          <%= f.label :first_name, class: 'text-xl font-medium' %>
          <%= f.text_field :first_name, class: 'border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>

        <div class="flex flex-col gap-2 m-2">
          <%= f.label :last_name, class: 'text-xl font-medium' %>
          <%= f.text_field :last_name, class: 'border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>

        <div class="flex flex-col gap-2 m-2">
          <%= f.label :dob, class: 'text-xl font-medium' %>
          <%= f.date_field :dob, class: 'border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>

        <div class="flex flex-col gap-2 m-2">
          <%= f.label :gender, class: 'text-xl font-medium' %>
          <%= f.select :gender, ['Male', 'Female', 'Other'], {}, class: 'border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>

        <div class="flex flex-col gap-2 m-2">
          <%= f.label :password, class: 'text-xl font-medium' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>

        <div class="flex flex-col gap-2 m-2">
          <%= f.label :password_confirmation, class: 'text-xl font-medium' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>

        <div class="flex flex-col gap-2 m-2">
          <%= f.label :role, class: 'text-xl font-medium' %>
          <%= f.select :role, ['admin', 'user'], {}, class: 'border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>

        <div class="flex flex-col gap-2 m-2">
          <%= f.submit "Create User", class: "w-full bg-green-500 text-white py-2 rounded-md font-medium hover:bg-green-600" %>
        </div>

      <% end %>

 
    </div>
  </div>
</body>
